.header {
  background-color: silver;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  overflow: hidden;
}

.header>* {
  width: 30%;
}

h1.main-title {
  text-align: center;
  align-items: center;
}

.main-title {
  color: black;
  font-family: Orbitron, sans-serif;
  font-weight: bold;
  min-height: 50px;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#crud-form {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 40px auto;
}

.form-group {
  margin-bottom: 20px;
}

label,
input,
button {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.error-message {
  display: block;
  margin-top: 5px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: red;
}

/* Estilos generales para la tabla */
.members-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-color: #2c2f3a;
  /* Color de fondo oscuro */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para las celdas del encabezado */
.members-table thead {
  background-color: #333b4b;
  /* Fondo oscuro para el encabezado */
  text-align: left;
  padding: 10px;
  color: #f0f0f0;
  /* Color claro para los textos */
  text-transform: uppercase;
  /* Transforma el texto a mayúsculas */
}

.members-table th {
  padding: 10px 15px;
  border-bottom: 2px solid #444;
  /* Separador entre el encabezado y las filas */
}

/* Estilos para las filas */
.members-table tbody {
  background-color: #3a4254;
  /* Fondo gris oscuro para las filas */
}

.members-table td {
  padding: 10px 15px;
  border-bottom: 1px solid #444;
  /* Borde sutil entre filas */
  text-align: left;
}

.members-table tr:nth-child(even) {
  background-color: #474f64;
  /* Fondo alternado para filas pares */
}

/* Estilo cuando el usuario pasa el mouse por encima de una fila */
.members-table tr:hover {
  background-color: #5a6373;
}

/* Estilos para los botones de acciones */
.members-table .btn-delete {
  background-color: #e74c3c;
  /* Rojo */
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.members-table .btn-delete:hover {
  background-color: #c0392b;
  /* Rojo más oscuro al pasar el mouse */
}

h2 {
  font-family: Orbitron, sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.for-phone-and-tablet-screen {
  display: none;
}

#hamburguer-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  width: 50px;
  margin-left: 50px;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: fit-content;
  background-color: #333;
  transition: transform 0.5s;
  font-family: 'Montserrat', sans-serif;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.side-menu li {
  padding: 10px;
  border-bottom: 1px solid #444;
}

.side-menu a {
  color: #fff;
  text-decoration: none;
}

.side-menu.opened {
  right: 0;
}

body {
  background-image: url(../img/Background.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

.sun-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 10px;
  position: relative;
}

#img-sun {
  width: 90%;
  height: auto;
}

#link-sun {
  visibility: hidden;
}

#link-mercury {
  visibility: hidden;
}

#link-venus {
  visibility: hidden;
}

#link-earth {
  visibility: hidden;
}

#link-moon {
  visibility: hidden;
}

#link-mars {
  visibility: hidden;
  z-index: 1;
}

#link-jupiter {
  visibility: hidden;
}

#link-saturn {
  visibility: hidden;
}

#link-uranus {
  visibility: hidden;
}

#link-neptune {
  visibility: hidden;
}

#link-pluto {
  visibility: hidden;
}

.curiosity-button {
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0px;
  background-color: transparent;
  position: absolute;
}

#button-sun {
  left: 90%;
}

#button-venus {
  top: 46%;
  left: 72%;
}

#button-mars {
  top: 45%;
  left: 66%;
}

.text {
  display: none;
  color: white;
  font-family: Tahoma, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-align: justify;
}

#text-sun {
  display: none;
  opacity: 1;
  width: auto;
}

#text-venus {
  display: none;
  opacity: 1;
  width: auto;
}

#text-mars {
  display: none;
  opacity: 1;
  width: auto;
}

.header-planets {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10%;
  font-size: 20px;
}

.header-planets-mercury {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 4%;
  font-size: 20px;
}

.header-planets-moon {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 5%;
  font-size: 10px;
}

.header-planets-pluto {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10%;
  font-size: 20px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.section-1-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-1-item-venus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-1-item-mars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

#img-mercury {
  width: 13%;
}

.img-venus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#venus-with-clouds {
  width: 40%;
  visibility: visible;
}

#venus-without-clouds {
  width: 40%;
  display: none;
}

#img-earth {
  width: 30%;
}

#img-moon {
  width: 10%;
  height: auto;
}

#img-mars {
  width: 30%;
}

.asteroid-belt {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.asteroid-belt img {
  width: 100%;
  object-fit: contain;
  border: 3px white solid;
}

.section-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.section-2-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#img-jupiter {
  width: 50%;
  height: auto;
}

#img-saturn {
  width: 80%;
  height: auto;
}

#img-uranus {
  width: 20%;
  height: auto;
}

#img-neptune {
  width: 20%;
  height: auto;
}

.section-2-1 {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-2-1 .header-planets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.section-2-1-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-2-1 img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
}

.link-header {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  background-color: #f1c40f;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.link-header:hover {
  background-color: #e67e22;
}

.link-celestials-body {
  color: black;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 10%;
  background-color: #f1c40f;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.link-celestials-body:hover {
  background-color: #e67e22;
}

.go-top-page {
  color: black;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 5%;
  background-color: #f1c40f;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.go-top-page.button {
  padding: 5px 10px;
  font-size: 14px;
}

.go-top-page:hover {
  background-color: #e67e22;
}

footer {
  background-color: silver;
  font-family: Orbitron, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: 40px;
  font-size: 15px;
}

.svg-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}

.img-footer {
  width: 69%;
  height: auto;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (min-width: 1px) and (max-width: 425px) {

  h1.main-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .header-section {
    display: none;
  }

  .for-phone-and-tablet-screen {
    display: block;
  }

  .side-menu.opened {
    top: 97px;
    right: 0;
  }

  .main-title {
    font-size: 100%;
  }

  .sun-container {
    width: 100%;
    margin-bottom: 100px;
  }

  .section-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-1-item {
    margin-bottom: 100px;
  }

  #img-mercury {
    width: 50%;
    height: auto;
  }

  #venus-with-clouds {
    width: 80%;
    height: auto;
  }

  #venus-without-clouds {
    width: 80%;
    height: auto;
  }

  #img-earth {
    width: 80%;
    height: auto;
  }

  #img-moon {
    width: 30%;
    height: auto;
  }

  #img-mars {
    width: 80%;
    height: auto;
  }

  .asteroid-belt {
    width: 100%;
  }

  .section-2-item {
    width: 100%;
    margin-top: 300px;
    margin-bottom: 300px;
  }

  #img-jupiter {
    width: 60%;
    height: auto;
  }

  #img-saturn {
    width: 100%;
    height: auto;
  }

  #img-uranus {
    width: 30%;
    height: auto;
  }

  #img-neptune {
    width: 30%;
    height: auto;
  }

  #img-pluto {
    width: 30%;
    height: auto;
  }

  .link-celestials-body {
    width: fit-content;
  }

  footer {
    font-size: 10px;
  }

  .members-table th,
  .members-table td {
    padding: 8px 10px;
  }

  .members-table .btn-delete {
    padding: 6px 10px;
  }

  .curiosity-button {
    display: none;
  }

  .sun-container-expanded {
    display: none;
  }

  .section-1-item-venus-expanded {
    display: none;
  }

  .section-1-item-mars-expanded {
    display: none;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 425px) and (max-width: 600px) {

  .header-section {
    display: none;
  }

  .for-phone-and-tablet-screen {
    display: block;
  }

  .sun-container {
    width: 100%;
    margin-bottom: 100px;
  }

  .section-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-1-item {
    margin-bottom: 100px;
  }

  .asteroid-belt {
    width: 100%;
  }

  .section-2-item {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 300px;
  }

  #img-pluto {
    width: 10%;
    height: auto;
  }

  .link-celestials-body {
    font-size: 90%;
  }

  .curiosity-button {
    display: none;
  }

  .sun-container-expanded {
    display: none;
  }

  .section-1-item-venus-expanded {
    display: none;
  }

  .section-1-item-mars-expanded {
    display: none;
  }
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 600px) and (max-width: 768px) {

  .header-section {
    display: none;
  }

  .for-phone-and-tablet-screen {
    display: block;
  }

  .sun-container {
    width: 100%;
  }


  .section-1 {
    width: 100%;
  }

  .section-2 {
    width: 100%;
  }

  .link-celestials-body {
    font-size: 130%;
  }

  .curiosity-button {
    display: none;
  }

  .sun-container-expanded {
    display: none;
  }

  .section-1-item-venus-expanded {
    display: none;
  }

  .section-1-item-mars-expanded {
    display: none;
  }
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 768px) and (max-width: 1024px) {

  .h1 {
    font-size: 1rem;
  }

  .sun-container {
    width: 100%;
  }

  .section-1 {
    width: 100%;
  }

  .section-2 {
    width: 100%;
  }

  .link-celestials-body {
    font-size: 200%;
  }

  #img-pluto {
    width: 10%;
    height: auto;
  }

  .curiosity-button {
    display: none;
  }

  .sun-container-expanded {
    display: none;
  }

  .section-1-item-venus-expanded {
    display: none;
  }

  .section-1-item-mars-expanded {
    display: none;
  } */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {

  .sun-container-expanded {
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    margin-bottom: 10px;
    width: 100%;

    #img-sun {
      width: 100%;
      height: auto;
    }

    .header-planets {
      left: 22%;
    }

    #button-sun {
      top: 27%;
      left: 70%;
      font-size: 19px;
    }

    #text-sun {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      position: relative;
      width: 100%;
    }
  }

  .section-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-1-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 20px;
  }

  .section-1-item-venus-expanded {
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;

    #venus-with-clouds {
      width: 65%;
      height: auto;
    }

    #venus-without-clouds {
      width: 65%;
      height: auto;
    }

    .header-planets {
      top: 40%;
      left: 19%;
      font-size: 19px;
    }

    #button-venus {
      top: 15%;
      left: 65%;
      font-size: 19px;
    }

    #text-venus {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      position: relative;
      width: 90%;
    }
  }

  .section-1-item-mars-expanded {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;

    #img-mars {
      position: relative;
      left: 10%;
      width: 17.93%;
    }

    .header-planets {
      left: 14%;
      font-size: 19px;
      z-index: 1;
    }

    #button-mars {
      top: -5%;
      left: 60%;
      font-size: 19px;
    }

    #text-mars {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      position: relative;
      width: 70%;
      left: 25%;
    }
  }

  .section-2-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 20px;
  }

  .section-2-1-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 20px;
  }

  #img-pluto {
    width: 15%;
    height: auto;
  }

  .link-celestials-body {
    font-size: 200%;
  }

  footer {
    font-size: 100%;
  }
}